#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif !important;
}

#defensie {
    display: none;
}

#description {
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

#pac-container {
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;

}

.pac-controls label {
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-size: 11px;
    font-weight: 300;
    padding: 8px;
    text-overflow: ellipsis;
    width: 400px;
    z-index: 5;
    border-radius: 2px;
    position: absolute;
    top: 1% !important;
    margin-right: 10px;
    margin-left: 10px;
    direction: ltr;
    overflow: hidden;
    background-clip: padding-box;
    height: 1.4rem;
}


#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}

@media screen and (max-width: 600px) {
    #modal {
        width: 80% !important;
        margin: 0 auto;
    }
    #pac-input {
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    #modal {
        width: 70% !important;
        margin: 0 auto;
    }
    #pac-input {
        display: none;
    }
}

@media screen and (max-width: 1500px) {
    #modal {
        width: 45% !important;
    }
}