#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif !important;
}

#defensie {
    display: none;
}

#informatie {
    display: none;
}

#verkopen {
    display: none;
}

@media screen and (max-width: 1440px) {
    #modal {
        width: 45% !important;
    }
}

@media screen and (max-width: 1024px) {
    #modal {
        width: 60% !important;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    #modal {
        width: 80% !important;
        margin: 0 auto;
    }
}

.modal {
    max-height: 85% !important;
}
li {
    list-style-type: none;
}
#freedom {
    display: none;
}
progress {
    width: 50%!important;
}